POSTGRES_DB=nova
POSTGRES_USER=nova
POSTGRES_PASSWORD=change_me_for_local_use
POSTGRES_PORT=5432

REDIS_PORT=6379

RABBITMQ_USER=nova
RABBITMQ_PASSWORD=change_me_for_local_use
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

MINIO_ROOT_USER=nova
MINIO_ROOT_PASSWORD=change_me_for_local_use_123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
